$h1Text: 2.62rem !default;
$h2Text: 1.75rem !default;
$h3Text: 1.56rem !default;
$bodyText: 1.12rem !default;
$navLinkText: 1rem !default;
$inputText: 1.125rem !default;
$secondaryText: 1rem !default;

$primaryColor: #0000ff !default;
$primaryLight: #3333ff !default;
$secondaryColor: #ff9900 !default;
$secondaryLight: #ffad33 !default;
$red: #ff3333 !default;
$green: #33ff61 !default;
$gray: #F8F7FA !default