.pokedex-page {
  height: 100vh;
  width: 100vw;
  background: blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pokemon-card {
    width: 35%;
    margin-right: 5%;
    height: 80%;
}

.pokemon-list {
    width: 35%;
    height: 100%;
}
